.formheading {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
.checkbox-inline {
    margin-right: 10px;
}
.forradios {
    margin: 16px 0px;
    display: block;
}
.selectbox {padding: 10px 5px;background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    width: 100%;
    font-weight: 300;
}
.checkbox-inline {margin-left:0px;}
.selectinfo {color: #8C8C88;
font-family: 'Roboto', sans-serif;
font-weight: 300;
padding: 5px 0;}
.sign { margin-right: 6px;}
.res { margin-right: 6px;}
.auto { margin-right: 6px;}

.inputfname{
    border: 1px solid red;
}
.fname_error{
    color: red; display:none;
}

.first_error{
    color: red;
}
